body {
	font-family: sans-serif;
	line-height: 1.5;
	background: #f0f0f0;
}

h2 {
	font-size: inherit;
	font-weight: inherit;
	margin: 0;
}

h2 > a {
	text-decoration: none;
}

h2 > a:hover {
	text-decoration: underline;
}

main, footer {
	max-width: 650px;
	margin: 0 auto;
}

footer, .links {
	margin-top: 1em;
}

.num {
	font-size: 150%;
	line-height: 1.25;
}

.main, .sub {
	vertical-align: middle;
}

.sub {
	font-size: 75%;
}

.error {
	color: #e00000;
}

.links {
	float: left;
}

.out {
	box-sizing: border-box;
	padding: 0.5em 0.25em;
	text-align: center;
	font-size: 125%;
	border: 1px solid #a2a9b1;
	margin: 0.25em 0;
	border-radius: 2px;
	background: #fff;
	float: right;
	clear: both;
	width: 100%;
}

.oo-ui-widget.oo-ui-progressBarWidget {
	border-radius: 2px;
	box-shadow: none;
}
