body {
	font-family: sans-serif;
	line-height: 1.5;
	background: #f0f0f0;
}

#skip {
	left: -99999px;
	position: absolute;
}

#skip:focus {
	top: 8px;
	left: 8px;
	border: 2px solid #36c;
	border-radius: 4px;
	outline: none;
	text-decoration: underline;
	background: #fff;
	padding: 4px;
}

main,
footer {
	max-width: 700px;
	margin: 0 auto;
}

.links {
	margin-top: 8px;
}

footer,
#out {
	margin-top: 1.5em;
}

.error {
	color: #e00000;
}

.oo-ui-widget.oo-ui-progressBarWidget {
	border-radius: 2px;
	box-shadow: none;
}

.out {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	font-size: 125%;
}

.out a {
	text-decoration: none;
}

.out [role="row"] {
	display: contents;
}

.out [role="columnheader"] {
	font-weight: bold;
	padding: 8px 12px 0;
	text-align: center;
}

.out [role="cell"] {
	display: inline-block;
	border: solid #a2a9b1;
	background: #fff;
	border-width: 1px 0 1px 1px;
	padding: 12px 8px;
	margin: 8px 0;
}

.out .type {
	border-radius: 2px 0 0 2px;
	white-space: nowrap;
}

.out .all,
.out .direct,
.out .indirect {
	font-size: 140%;
	line-height: 107%;
	text-align: right;
}

.out .indirect {
	border-right-width: 1px;
	border-radius: 0 2px 2px 0;
}

.out [role="row"]:target [role="cell"] {
	padding: 10px 8px;
	border-top-width: 3px;
	border-bottom-width: 3px;
	border-color: #36c;
}

.out [role="row"]:target .type {
	padding: 10px 10px 10px 6px;
	border-left-width: 3px;
	border-radius: 4px 0 0 4px;
}

.out [role="row"]:target .indirect {
	padding: 10px 6px 10px 10px;
	border-right-width: 3px;
	border-radius: 0 4px 4px 0;
}

@media (max-width: 575px) {
	.out {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
	}

	.out > :first-child > :first-child {
		display: none;
	}

	.out .type {
		grid-column-start: 1;
		grid-column-end: 4;
		border-width: 1px;
		border-radius: 2px 2px 0 0;
		margin-bottom: 0;
		line-height: 80%;
		text-align: center;
	}

	.out .all,
	.out .direct,
	.out .indirect {
		border-top: none;
		margin-top: 0;
		font-size: 125%;
	}

	.out .all {
		border-left-width: 1px;
		border-radius: 0 0 0 2px;
	}

	.out .indirect {
		border-radius: 0 0 2px 0;
	}

	.out [role="row"]:target .type {
		padding: 10px 8px 12px 8px;
		border-right-width: 3px;
		border-bottom-width: 1px;
		border-radius: 4px 4px 0 0;
	}

	.out [role="row"]:target .all,
	.out [role="row"]:target .direct,
	.out [role="row"]:target .indirect {
		padding: 12px 8px 10px 8px;
	}

	.out [role="row"]:target .all {
		border-left-width: 3px;
		border-radius: 0 0 0 4px;
	}

	.out [role="row"]:target .indirect {
		padding: 12px 6px 10px 10px;
		border-radius: 0 0 4px 0;
	}
}
