main {
	max-width: 650px;
	margin: auto;
	font-family: sans-serif;
	line-height: 1.5;
}
main > * {
	margin-bottom: 1em;
}

.out {
    box-sizing: border-box;
	padding: 0.25em 0;
	text-align: center;
	font-size: 125%;
}
.out.left {
	float: left;
	width: 50%;
	padding-right: 0.25em;
}
.out.right {
	padding-left: 0.25em;
	float: right;
	width: 50%;
}

.out > div {
	border: 1px solid #a2a9b1;
	border-radius: 2px;
	padding: 0.25em;
}
.out > div > .num {
	font-size: 150%;
	line-height: 1.25;
}

h1, h2 {
	text-align: center;
}
sup {
	font-size: 70%;
	line-height: 0;
}
li {
	margin-bottom: 0.5em;
}