main {
	max-width: 650px;
	margin: auto;
	font-family: sans-serif;
	line-height: 1.5;
}
main > * {
	margin-bottom: 1em;
}
.out {
	box-sizing: border-box;
	padding: 0.5em 0.25em;
	text-align: center;
	font-size: 125%;
	border: 1px solid #a2a9b1;
	margin: 5px 0;
}
.num {
	font-size: 150%;
	line-height: 1.25;
}
h1 {
	text-align: center;
}

@media (max-width: 499px) {
	.out.left {
		margin: 10px 0 0;
	}
	.out.right {
		margin: 0 0 10px;
		border-top: 0;
	}
}

@media (min-width: 500px) {
	.out.left {
		float: left;
		width: 50%;
		padding-right: 0.25em;
	}
	.out.right {
		padding-left: 0.25em;
		float: right;
		width: 50%;
		border-left: 0;
	}
}