<!DOCTYPE html>
<html lang="en">
	<head>
		<title>{{title}}</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="{{url_for('static', filename='node_modules/oojs-ui/dist/oojs-ui-wikimediaui.min.css')}}">
		<link rel="stylesheet" href="{{url_for('static', filename='main.css')}}">
	</head>
	<body>
		<h1>{{title}}</h1>
		<main>
			<form>
				<div class="oo-ui-layout oo-ui-labelElement oo-ui-fieldLayout oo-ui-fieldLayout-align-top">
					<div class="oo-ui-fieldLayout-body">
						<span class="oo-ui-fieldLayout-header">
							<label class="oo-ui-labelElement-label" for="page">Page name</label>
						</span>
						<div class="oo-ui-fieldLayout-field">
							<div class="oo-ui-widget oo-ui-widget-enabled oo-ui-inputWidget oo-ui-textInputWidget oo-ui-textInputWidget-type-text">
								<input type="text" class="oo-ui-inputWidget-input" value="{{page}}" name="page" id="page">
							</div>
						</div>
					</div>
				</div>
				{% if errors and 'page' in errors %}
					<div class="oo-ui-layout oo-ui-labelElement oo-ui-fieldLayout oo-ui-fieldLayout-align-top">
						<div class="oo-ui-fieldLayout-body">
							<div class="oo-ui-widget oo-ui-widget-enabled oo-ui-labelElement oo-ui-flaggedElement-error oo-ui-iconElement oo-ui-messageWidget">
								<span class="oo-ui-iconElement-icon oo-ui-icon-error oo-ui-image-error"></span>
								<span class="oo-ui-labelElement-label">{{errors.page}}</span>
							</div>
						</div>
					</div>
				{% endif %}
				<div class="oo-ui-layout oo-ui-labelElement oo-ui-fieldLayout oo-ui-fieldLayout-align-top">
					<div class="oo-ui-fieldLayout-body">
						<span class="oo-ui-fieldLayout-header">
							<label class="oo-ui-labelElement-label" for="project">Project</label>
						</span>
						<div class="oo-ui-fieldLayout-field">
							<div class="oo-ui-widget oo-ui-widget-enabled oo-ui-inputWidget oo-ui-textInputWidget oo-ui-textInputWidget-type-text">
								<input type="text" class="oo-ui-inputWidget-input" placeholder="en.wikipedia.org" value="{{project}}" name="project" id="project">
							</div>
						</div>
					</div>
				</div>
				{% if errors and 'project' in errors %}
					<div class="oo-ui-layout oo-ui-labelElement oo-ui-fieldLayout oo-ui-fieldLayout-align-top">
						<div class="oo-ui-fieldLayout-body">
							<div class="oo-ui-widget oo-ui-widget-enabled oo-ui-labelElement oo-ui-flaggedElement-error oo-ui-iconElement oo-ui-messageWidget">
								<span class="oo-ui-iconElement-icon oo-ui-icon-error oo-ui-image-error"></span>
								<span class="oo-ui-labelElement-label">{{errors.project}}</span>
							</div>
						</div>
					</div>
				{% endif %}
				<div class="oo-ui-layout oo-ui-labelElement oo-ui-fieldLayout oo-ui-fieldLayout-align-top">
					<div class="oo-ui-fieldLayout-body">
						<span class="oo-ui-widget oo-ui-widget-enabled oo-ui-inputWidget oo-ui-buttonElement oo-ui-buttonElement-framed oo-ui-labelElement oo-ui-flaggedElement-primary oo-ui-flaggedElement-progressive oo-ui-buttonInputWidget">
							<button type="submit" class="oo-ui-inputWidget-input oo-ui-buttonElement-button" id="submit">
								<span class="oo-ui-labelElement-label">Submit</span>
							</button>
						</span>
					</div>
				</div>
			</form>
			{% if results %}
				<div>
					<div>
						<div id="total" class="out">
							<div>
								<div>Total links</div>
								<div class="num">{{total[0]|sepnum}}</div>
								<div>(<b>{{total[1]|sepnum}}</b> counting redirects<sup>1</sup>)</div>
							</div>
						</div>
					</div>
					{% if filelinks %}
						<div id="filelinks" class="out">
							<div>
								<div>File links</div>
								<div class="num">{{filelinks|sepnum}}</div>
							</div>
						</div>
					{% elif categorylinks %}
						<div id="categorylinks" class="out">
							<div>
								<div>Category links</div>
								<div class="num">{{categorylinks[0]|sepnum}}</div>
								<div>(<b>{{categorylinks[1]|sepnum}}</b> counting redirects<sup>1</sup>)</div>
							</div>
						</div>
					{% endif %}
					<div id="pagelinks" class="out left">
						<div>
							<div>Pagelinks<sup>2</sup></div>
							<div class="num">{{pagelinks[0]|sepnum}}</div>
							<div>(<b>{{pagelinks[1]|sepnum}}</b> counting redirects<sup>1</sup>)</div>
						</div>
					</div>
					<div id="wikilinks" class="out right">
						<div>
							<div>Wikilinks</div>
							<div class="num">{{wikilinks[0]|sepnum}}</div>
							<div>(<b>{{wikilinks[1]|sepnum}}</b> counting redirects<sup>1</sup>)</div>
						</div>
					</div>
					<div style="clear:both;"></div>
					<div id="transclusions" class="out left">
						<div>
							<div>Transclusions</div>
							<div class="num">{{transclusions[0]|sepnum}}</div>
							<div>(<b>{{transclusions[1]|sepnum}}</b> counting redirects<sup>1</sup>)</div>
						</div>
					</div>
					<div id="redirects" class="out right">
						<div>
							<div>Redirects</div>
							<div class="num">{{redirects|sepnum}}</div>
							<br>
						</div>
					</div>
					<div style="clear:both;"></div>
				</div>
			{% endif %}
			<footer>
				{% if results %}
					<details>
						<summary>Notes</summary>
						<ol>
							<li>Counting links to pages that redirect to this page</li>
							<li>Pagelinks includes both wikilinks and redirects</li>
						</ol>
					</details>
				{% endif %}
				Also checkout the <a href="{{url_for('api')}}">API</a>.
			</footer>
		</main>
	</body>
</html>