<!DOCTYPE html>
<html lang="en">
	<head>
		<title>{{title}}</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="{{url_for('static', filename='node_modules/oojs-ui/dist/oojs-ui-wikimediaui.min.css')}}">
		<link rel="stylesheet" href="{{url_for('static', filename='main.css')}}">
	</head>
	<body>
		<h1>{{title}}</h1>
		<main>
			<form>
				{% for field in fields %}
					<div class="oo-ui-layout oo-ui-labelElement oo-ui-fieldLayout oo-ui-fieldLayout-align-top">
						<div class="oo-ui-fieldLayout-body">
							<span class="oo-ui-fieldLayout-header">
								<label class="oo-ui-labelElement-label" for="{{field.name}}">{{field.label}}</label>
							</span>
							<div class="oo-ui-fieldLayout-field">
								<div class="oo-ui-widget oo-ui-widget-enabled oo-ui-inputWidget oo-ui-textInputWidget oo-ui-textInputWidget-type-text">
									<input type="text" class="oo-ui-inputWidget-input" value="{{field.value}}" name="{{field.name}}" id="{{field.name}}">
								</div>
							</div>
						</div>
					</div>
					{% if errors and field.name in errors %}
						<div class="oo-ui-layout oo-ui-labelElement oo-ui-fieldLayout oo-ui-fieldLayout-align-top">
							<div class="oo-ui-fieldLayout-body">
								<div class="oo-ui-widget oo-ui-widget-enabled oo-ui-labelElement oo-ui-flaggedElement-error oo-ui-iconElement oo-ui-messageWidget">
									<span class="oo-ui-iconElement-icon oo-ui-icon-error oo-ui-image-error"></span>
									<span class="oo-ui-labelElement-label">{{errors[field.name]}}</span>
								</div>
							</div>
						</div>
					{% endif %}
				{% endfor %}
				<div class="oo-ui-layout oo-ui-labelElement oo-ui-fieldLayout oo-ui-fieldLayout-align-top">
					<div class="oo-ui-fieldLayout-body">
						<span class="oo-ui-widget oo-ui-widget-enabled oo-ui-inputWidget oo-ui-buttonElement oo-ui-buttonElement-framed oo-ui-labelElement oo-ui-flaggedElement-primary oo-ui-flaggedElement-progressive oo-ui-buttonInputWidget">
							<button type="submit" class="oo-ui-inputWidget-input oo-ui-buttonElement-button" id="submit">
								<span class="oo-ui-labelElement-label">Submit</span>
							</button>
						</span>
					</div>
				</div>
			</form>
			{% if values %}
				<div>
					{% for value in values %}
						{% if value.value is mapping %}
							<div class="out left">
								<div>Direct {{value.name.lower()}}</div>
								<div class="num">{{value.value.direct|sepnum}}</div>
							</div>
							<div class="out right">
								<div>All {{value.name.lower()}}</div>
								<div class="num">{{value.value.all|sepnum}}</div>
							</div>
							<div style="clear:both;"></div>
						{% elif value.value is integer %}
							<div class="out">
								<div>{{value.name.capitalize()}}</div>
								<div class="num">{{value.value|sepnum}}</div>
							</div>
						{% endif %}
					{% endfor %}
				</div>
			{% endif %}
			<footer>
				Also checkout the <a href="{{url_for('api')}}">API</a>. Created by <a href="https://en.wikipedia.org/wiki/User:BrandonXLF">BrandonXLF</a>.
			</footer>
		</main>
	</body>
</html>